/* mi menu lineal */
header {
	font-family:Comic Sans MS;
	font-size:15px;
}

img.logo {
	height:105px; 
	width:105px;
}

ul.navbar {
	background-color: #DCDCDC;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.navbar li {
	float: left;
	border-right: 1px solid #bbb;
}

ul.navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
}
/* Change the link color to #white on hover */
ul.navbar li a:hover {
	background-color: white;
}
.active {
	background-color:  rgb(162, 161, 161);
}

/* fin de mi menu lineal*/


body {
	background-image:url("../img/solid-colors/Silver.png");
	background-position:center;
	background-repeat:repeat;
	/**nueva configuración propuesta del nuevo css**/
	margin: 0;
	padding: 0;
	color:rgb(0, 0, 0); 
	font-family: "Avenir Next", "Avenir", sans-serif;
}

#bienvenida {
	height:700px;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url("../img/periodico.png");
	background-size: 50% 50%;
	background-color: #ececec;
	background-attachment:scroll;
}

#texto {
	text-align:center;
	font-family:Comic Sans MS;
	margin: 20px;
	padding: 5px 10px;
	color: black;
	font-size: 100%,
}

#texto2 {
	text-align:center;
	font-family:Comic Sans MS;
	margin: 20px;
	padding: 5px 10px;
	color: black;
	font-size: 100%,
}

#button {
	text-align:center;
}

#imgnoticias {
	height:200px; 
	width:200px;
}

table.directos, th.directos, td.directos {
	font-family:Comic Sans MS;
	border: solid 1px black;
	border-collapse: collapse;
	padding: 5px 10px;
	margin-left: auto;
  	margin-right: auto;
}

.directos {
	text-align:center;
}


table , td, th directos {
	font-family:Comic Sans MS;
}

tbody.noticias2 {
	background-image:url("../img/solid-colors/Solid-Lavender.png");
	background-attachment:scroll;
}

footer {
	bottom:0%;
	text-align:center;
}

div.mantenimiento {
	margin: auto;
	width: 50%;
	text-align:center;
	font-family:Comic Sans MS;
	font-size:15;
}

iframe {
	width:600px;
	height:450px; 
	border:0;
}
