/*
* Made by Erik Terwan https://codepen.io/erikterwan/pen/EVzeRP
* 24th of November 2015
* MIT License
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/

html, body{
    margin: 0;
    padding: 0;
    /* make it look decent enough */
    background: #ededed;
    /* cambia color texto*/
    color:rgb(0, 0, 0); 
    font-family: "Avenir Next", "Avenir", sans-serif;
}

/* * inicio menu hamburguesa _ retocado del original* */
#menuToggle {
display: block;
position: relative;
top: 50px;
left: 50px;

z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle a {
text-decoration: none;
color: #232323;

transition: color 0.3s ease;
}

#menuToggle a:hover {
color: rgb(172, 172, 172);
}
#menuToggle .active {
    color: rgb(34, 158, 34);
}

#menuToggle input {
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #232323;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child {
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
position: absolute;
width: 300px;
margin: -100px 0 0 -50px;
padding: 50px;
padding-top: 125px;

background: #ededed;
list-style-type: none;
-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
padding: 10px 0;
font-size: 22px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
transform: none;
}
/* * fin menu hamburguesa * */



/*
*
*
*
*
*
*
*/


/** *DISEÑO WEB E.Y.E.* **/


/* 
*
* diseño propio 
*
* 202306210340
* 202306210729
* 202306270611
*/

/* * decoración texto * */
#titulo { 
    /*color:rgb(0, 0, 0); */
    font-size: 225%; 
    text-align: center;
}

/*boton imprimir*/
.printPageButton { 
    text-align:right;
}

@media print {
    .printPageButton {
        display: none;
    }
}

div.content {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}
div.contentb {
    margin: 0 auto;
    max-width: 80%;
    display:inline;
}

/* *indice y resumen* */
#indice .summary {
    /*
    sin linea de color en el medio de detalles
    background: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(50% - 1px), 
        rgb(243, 242, 242) calc(50%), 
        rgba(0,0,0,0) calc(50% + 5px)
    );
    */
    background-color:#E6E6FA;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}
.detalle {
    background-color:#c5c5d8;
    margin: 0 auto;
    padding: 8px;
}
.detalle i {
    font-size: 12px; 
}
/* *productos* */
div#seccionProductos { 
    background-color:#DCDCDC;
    margin: 0 auto;
    padding: 25px;
    width: fit-content;
}

div#seccionProductos p { 
    background-color:#d6d2d2;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

table.productos, thead th, tbody th, tbody td , tfoot th, tfoot td {
    border: 1px solid;
    border-collapse: collapse;
    background-color:#d6d2d2;
    margin: 0 auto;
    padding: 7px;
}
#imgdispositivo {
    width: 174px;
    max-width: 80%;
}
#imgdispositivo2 {
    height:100px; 
    width:100px;
}
#imglogo {
    width:100px;
}
div.content a {
    color: blue;
}

/* pie de pagina */
footer {
	bottom:0%;
	text-align: center;
}

/** scroll to top button **/
:root {
    scroll-behavior: smooth;
}

.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ededed url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
}

.stt:hover {
    opacity: 0.8;
}

.stt:focus {
    opacity: 0.9;
}

.stt:active {
    opacity: 1;
}