#titulo { 
    color:rgb(1, 1, 1); font-size:50px; 
    text-align:center;
}
a {
    color:#21618C;
}

.printPageButton { 
    text-align:right;
}

@media print {
    .printPageButton {
        display: none;
    }
}

#indice {
    background: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(50% - 1px), 
        rgba(192,192,192,1) calc(50%), 
        rgba(0,0,0,0) calc(50% + 1px)
    );
}
.summary { 
    background-color:	#E6E6FA;
    
}
#noticiario { 
    background-color:#DCDCDC;
    border: solid 1px;
}
div {
    margin: auto;
    padding: 7px;
}

ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}



/* inicio div TABLON */
#tablon {
    background-color:lightgray;	
}
img {
    max-width:100%;
    max-height:100%;
}
#tablon2 {
    background-color: lightslategray;
}
ol.dashed > li:before {
    content: " - ";
    text-indent: -5px;
}
#bloque {
    background-color:lightgrey;
    display: block;
}

.detalle {
    background-color:#c5c5d8;
}




/* HR */
hr.bloques {
    border-top: 3.75px dotted gainsboro;
}
hr.fuentes {
    border-top: 2.75px dashed black;
}


/*  .NOMBRE es un class # es un ID  */

/*  Cosas que necesito ocultar  */
div.oculto{
    display: none;
}
#oculto{
    display: none;
}




